.btn {
  cursor: pointer;
}
.invisible {
  display: none;
}

.container {
  display: flex;
  background-color: blue;
  width: 300px;
  /*margin: 0 auto;*/
  padding: 10px;
  justify-content: flex-end;
}
.item1 {
  background-color: aqua;
  color: blue;
  width: 100px;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  flex-shrink: 2;
}
.item2 {
  background-color: aqua;
  color: blue;
  width: 100px;
  height: 70px;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  flex-shrink: 2;
}
.item3 {
  background-color: aqua;
  color: blue;
  width: 100px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  flex-shrink: 2;
}
